body {
    max-width: 1280px;
    margin: auto;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2em;
}
header {
    text-align: center;
    background-image: url("images/header.jpg");
    background-position: 0 50%;
    height: 300px;
}


header h3 {
    font-size: 3em;
    margin: 0;
    color: white;
    padding: 10px 0 0 0;
}

header h4 {
    font-size: 1em;
    color: white;
    margin: 0;
}

header h2 {
    font-size: 1.5em;
    color: white;
    margin: 0;
    padding: 175px 0 0 0;
    text-shadow: 0 0 5px black;
}


main {
    width: 100%;
    
}

main figure {
    margin-left: 0;

}

main figcaption {
    float: left;
    margin-left: 0em;
    width: 11.5em;
    color: gray;
    font-size: 1.2em;
}

main figure img {
    width: 90%
}

#map {
    height: 460px;
    width: 95%;
    border: 1px solid black;
}

.gallerie {
    float: left;
}

.tabelle {
    float: right;
}

#user_address {
    color: black
}

footer {
    padding: 1em 0 5em 0;
}

@media only screen and (max-width: 1200px) {
    main figure figcaption {
        float: none;
        margin-left: 0;
        width: auto;
    }
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4CAF50;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  li a:hover {
    background-color: green;
  }
.active {
background-color:green;
}



.btn {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    border: 1px solid green;
    text-decoration: none;
    float: left;
    display: inline-block;
    font-size: 12px;
    -webkit-transition-duration: 0.1s; 
    transition-duration: 0.1s;
  }

.btn:hover {
    background-color:#3e8e41
    
}
.btn:active{
    transform: translateY(1px);
    
}
    