body {
    max-width: 1280px;
    margin: auto;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2em;
}


header h3 {
    font-size: 3em;
    margin: 0;
    color: white;
    padding: 10px 0 0 0;
}

header h4 {
    font-size: 1em;
    color: white;
    margin: 0;
}

header h2 {
    font-size: 1.5em;
    color: white;
    margin: 0;
    padding: 175px 0 0 0;
    text-shadow: 0 0 5px black;
}


main {
    width: 100%;
    
}

main figure {
    margin-left: 0;

}

main figcaption {
    float: left;
    margin-left: 0em;
    width: 11.5em;
    color: gray;
    font-size: 1.2em;
}

main figure img {
    width: 90%
}

#map {
    height: 460px;
    width: 95%;
    border: 1px solid black;
}

.gallerie {
    float: left;
}

.tabelle {
    float: right;
}

#user_address {
    color: black
}

footer {
    padding: 1em 0 5em 0;
}

@media only screen and (max-width: 1200px) {
    main figure figcaption {
        float: none;
        margin-left: 0;
        width: auto;
    }
}